header {
    background-color: #fde4b9; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}
h1 a {
    text-align: left;
    padding: 5px;
    font-size: 40px;
    font-family: 'Neonderthaw', cursive;
    color: #2e2e2e;
}

footer {
    background-color: #fde4b9; 
    padding: 20px;
    text-align: center;
}