body {
    font-family: 'Georgia', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

header {
    background-color: #fde4b9; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
}

.column {
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.vasak {
    width: 50%;
    padding: 20px;
    background-color: whitesmoke;
}

.parem {
    width: 50%;
    background-color: white;
}

h1 a {
    text-align: left;
    padding: 5px;
    font-size: 40px;
    font-family: 'Neonderthaw', cursive;
    color: #2e2e2e;
    text-decoration: none;
}

h2 {
    text-align: left;
    padding: 5px;
    font-size: 40px;
    font-family: 'Neonderthaw', cursive;
    color: #2e2e2e
}

p {
    color: #4d4d4d;
}

nav a {
    text-decoration: none;
    color: #2e2e2e; 
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: rgb(99, 53, 18); 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fde4b9; 
    padding: 20px;
    text-align: center;
}

table {
    margin: auto;
}

td {
    padding: 10px;
    font-size: 16px;
    color: #2e2e2e;
}

iframe {
    border: none;
}
